.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.row .col-xs-3 {
  padding-right: 5px;
}

.row .col-xs-9 {
  padding-left: 5px;
}

li .page-scroll {
  font-size: 1.4em;
}

p.dark {
  color: #262626;
}
p.gray {
  color: #5a5a5a;
}
#contact .fa {
  color: #5a5a5a;
  font-size: 2.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.split-para {
  display:block;
  margin-bottom: 15px;
}
.split-para span {
  display:block;
  float:right;
}
.logo {
  margin-top: 5px;
  width: 10em;
}
@media (max-width: 1200px) {
  .pad-right {
    margin-right: 2.5em;
  }
}

#my-photo {
   height: 15em;
}

#my-name {
  color: #1867a3;
  font-size: 8em;
  padding-top: 0.3em;
  margin-bottom: 0;
  padding-bottom: 10px;
  letter-spacing: 15px;
}

@media(max-width: 1000px) {
  #my-name {
    font-size: 5em;
  }

  #my-tagline span {
    display: block;
  }
}

@media(max-width: 540px) {
  #my-tagline span {
    display: inline;
  }
}

@media(max-width: 767px) {
  #my-name {
    letter-spacing: 0px;
    color: #1867a3;
    font-size: 3em;
    padding-top: 0.3em;
    margin-bottom: 0;
  }
  .logo {
    margin-top: 5px;
    width: 5em;
  }
  .pad-right {
    margin-right: 0.5em;
  }
  .split-para {
    margin-bottom: 10px;
  }
  .split-para span {
    display:none;
  }
}

#my-tagline {
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.49em;
  text-align: center;
  color: #263135;
}

.content-section {
  width: 100%;
}

.section-header {
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:5em;
  text-align: left;
}


#education .section-header {
  color: #1867a3;
}
#relevant-experience .section-header {
  color: #b9b7b8;
}
#awards .section-header {
  color: #b9b7b8;
}


#about {
  background-color: #1867a3;
}
#work-experience {
  background-color: #b9b7b8;
}
#portfolio {
  background-color: #1867a3;
}
#contact {
  background-color: #b9b7b8;
}

.image-overflow-container {
  overflow:hidden;
  position: relative;
}

#photo-line-background {
  background-image: url("../img/photo_line.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  height: 15em;
}

.project-img {
  max-width: 100%;
}
div.project-desc {
  background-color: #e5e9e7;
}
p.project-desc {
  padding: 1.5em;
}


.text-center {
  text-align: center;
}



/* COLOR PALETTE
#263135 (navbar)
#1867a3
#e5e9e7 (page background)
#b9b7b8 (background 2)
#262626 (text)
*/





/*!
 * Start Bootstrap - Grayscale v3.3.7+1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir LT Std 35 Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #e5e9e7;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: 'Avenir LT Std 35 Light';
  text-align: left;
}
@media (max-width: 767px) {
  #my-name {
    font-size: 3em;
  }
  section.content-section {
    padding-top: 50px;
  }
  section.padding-bottom {
    padding-bottom: 50px;
  }
  h2.section-header {
    font-size: 3em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 1.2em;
    line-height: 1.6;
  }
}
a {
  color: #1867a3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #5b9fd3;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #263135;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #263135;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/clouds-bg.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.padding-bottom {
  padding-bottom: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #1867a3;
  color: #1867a3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #1867a3;
  outline: none;
  color: black;
  background-color: #1867a3;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(24, 103, 163, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(24, 103, 163, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(24, 103, 163, 0.2);
}
