#gmucircle {
	border-radius: 50%;
	background-image: url("/img/gmu.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 100%;
}
#gcmcircle {
	border-radius: 50%;
	background-image: url("/img/marshall.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 100%;
}
